@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class = "row">
        <div class = "col-sm-6">
            <h1 class="display-4">Welcome to RPMovies</h1>
            <p class="display-6">Movies for rent online or to view in the theater.</p>
            <p class="display-6">Rentals available anywhere, anytime</p>
            <p class="display-6">In-Theater times are:</p>
            <p style="font-size: 1.5em">Monday thru Saturday 12-3pm, 3-6pm, 6-9pm</p>
            <p style="font-size: 1.5em">Sunday 12-3pm, 6-9pm</p>
        </div>
        <div class="col-sm-6">
            <img src="images/moon-1372866_640.jpg" alt="Apollo" />
        </div>
    </div>
</div>
